#portfolio {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: flex-start;
}

.container {         
    margin: 10px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
    font-size: 30px;
}

.title h2 {
    padding-top: 20px;
    margin-bottom: 80px;
    font-weight: 200;
    font-size: 30px;
}

strong {
    font-weight: 800;
}

.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr)
}


.content-card {
    padding: 0 15px;
    margin-bottom: 50px;
}

.content-card h4 {
    font-size: 20px;
    font-weight: 200;
    margin: 0;
    margin-bottom: 8px;
}

.card-img {
    margin-bottom: 20px;
    height: 350px;
    width: 350px;
}

.card-img img{
    height: 100%;
    width: 100%;
}

.card-descript {
    text-align: center;
}

a {
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    color: #cccccc;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: white;
}

.game-link {
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    color: #cccccc;
    cursor: pointer;
}

.game-link:hover {
    text-decoration: underline;
}

.game-link:active {
    color: white;
}

@media (max-width: 1080px) {
    .content {
        grid-template-columns: repeat(2, 1fr)
    }
}

@media (max-width: 768px) {
    .content {
      grid-template-columns: 1fr !important;
    }
}