#about {
    display: flex;
    justify-content: center;
    height: 100%;
}

#about .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    max-width: 1140px;
}

@media (max-width: 850px) {
    #about .container {
      grid-template-columns: 1fr !important;
    }
}