* {
  max-width: 100%;
  height: auto;
}

html {
  font-size: 1rem;
  scroll-behavior: smooth;
}

body {
  width: 100%;    
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-seri;
  font-weight: 400;
  margin: 0;
  padding: 0;
  background-color: #222;
  color: white;
}

#main-layout {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 56px repeat(5, auto);
  grid-template-areas:
    "n" 
    "h"
    "a"
    "r"
    "p"
    "c";
}

#nav {
  grid-area: n;
}

#home {
  grid-area: h;
  min-height: 100vh;
}

#portfolio {
  grid-area: p;
  min-height: 100vh;
}

#resume {
  grid-area: r;
  min-height: 100vh;
}

#about {
  grid-area: a;
  min-height: 100vh;
}

#contact {
  grid-area: c;
  min-height: 100vh;
}